<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <div class="container d-flex justify-content-between align-items-center">
        <a href="/Estoque/Index">
            <img class="navbar-brand" src="~/img/rnstore.png" width="140px" alt="Logo RN Store">      
        </a>

        <div class="d-flex gap-5 align-items-center">   

            <li class="nav-item dropdown" style="font-size: 20px;">
            <a class="nav-link dropdown-toggle" href="#" id="links" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Gerenciar
            </a>
            <ul style="font-size: 20px;" class="dropdown-menu" aria-labelledby="links">
                <li><a class="dropdown-item text-dark" href="/Calcado/Index">Calçados</a></li>
                <li><a class="dropdown-item text-dark" href="/Cor/Index">Cores</a></li>
                <li><a class="dropdown-item text-dark" href="/Fornecedor/Index">Fornecedores</a></li>
                <li><a class="dropdown-item text-dark" href="/Funcionario/Index">Funcionários</a></li>
                <li><a class="dropdown-item text-dark" href="/Marca/Index">Marcas</a></li>
                <li><a class="dropdown-item text-dark" href="/Estoque/Index">Produtos</a></li>
                <li><a class="dropdown-item text-dark" href="/Slider/Index">Slider</a></li>
                <li><a class="dropdown-item text-dark" href="/Tamanho/Index">Tamanhos</a></li>
            </ul>
            </li>

            <a href="#" style="font-size: 20px;">
                Sair
            </a>
        </div>

        
    </div>
</nav>