<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/Inicio.css" asp-append-version="true">
    <script src="https://kit.fontawesome.com/4550765f78.js" crossorigin="anonymous"></script>
</head>

<body>
    @await Html.PartialAsync("_Menu")
    <main>
        <div id="carouselExample"class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 promo" src="~/ImgInicio/promo.png" alt="">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 promo" src="~/ImgInicio/promo.png" alt="">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="produtos">
            <div class="tabela">
                <div class="card" href="/Home/Index">
                    <img class="card-img-top" src="~/ImgInicio/tenis1.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                        <a href="/Produto/Index" class="stretched-link text-decoration-none text-dark">
                            Tênis Nikke Gamma Force</a>
                        </h5>
                        <h4 class="card-title">R$599,99</h4>
                        <p class="card-text">Olympikus</p>
                    </div>
                </div>
                <div class="card" href="/Home/Index">
                    <img class="card-img-top" src="~/ImgInicio/tenis2.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                        <a href="/Produto/Index" class="stretched-link text-decoration-none text-dark">
                            Tênis Nikke Court Vision Lo</a>
                        </h5>
                        <h4 class="card-title">R$299,79</h4>
                        <p class="card-text">Nikke</p>
                    </div>
                </div>
                <div class="card" href="/Home/Index">
                    <img class="card-img-top" src="~/ImgInicio/tenis3.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                        <a href="/Produto/Index" class="stretched-link text-decoration-none text-dark">
                            Tênis Nikke Revolution 7</a>
                        </h5>
                        <h4 class="card-title">R$249,90</h4>
                        <p class="card-text">Nikke</p>
                    </div>
                </div>
                <div class="card" href="/Home/Index">
                    <img class="card-img-top" src="~/ImgInicio/tenis7.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                        <a href="/Produto/Index" class="stretched-link text-decoration-none text-dark">
                            Tênis Olympikus Triunfo 3</a>
                        </h5>
                        <h4 class="card-title">R$149,99</h4>
                        <p class="card-text">Olympikus</p>
                    </div>
                </div>
            </div>
            <div class="tabela">
                <div class="card" href="/Home/Index">
                    <img class="card-img-top" src="~/ImgInicio/tenis4.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                        <a href="/Produto/Index" class="stretched-link text-decoration-none text-dark">
                            Tênis Olympikus Proof 3</a>
                        </h5>
                        <h4 class="card-title">R$169,99</h4>
                        <p class="card-text">Olympikus</p>
                    </div>
                </div>
                <div class="card" href="/Home/Index">
                    <img class="card-img-top" src="~/ImgInicio/tenis5.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                        <a href="/Produto/Index" class="stretched-link text-decoration-none text-dark">
                            Tênis Olympikus Venum 34</a>
                        </h5>
                        <h4 class="card-title">R$149,90</h4>
                        <p class="card-text">Olympikus</p>
                    </div>
                </div>
                <div class="card" href="/Home/Index">
                    <img class="card-img-top" src="~/ImgInicio/tenis6.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                        <a href="/Produto/Index" class="stretched-link text-decoration-none text-dark">
                            Tênis Adidas Run Falcon 3.0</a>
                        </h5>
                        <h4 class="card-title">R$249,90</h4>
                        <p class="card-text">Adidas</p>
                    </div>
                </div>
                <div class="card" href="/Home/Index">
                    <img class="card-img-top" src="~/ImgInicio/tenis8.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/Produto/Index" class="stretched-link text-decoration-none text-dark">
                            Tênis Nikke Air Force</a>
                        </h5>
                        <h4 class="card-title">R$179,90</h4>
                        <p class="card-text">Nikke</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    @await Html.PartialAsync("_Footer")
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>