.promo{
    height: 20rem;
}
.card{
    width: 15rem;
    margin: 2%;
    border: 1px solid black;
}

.card:hover{
    cursor:pointer;
}

.card-body{
    border-top: 1px solid black;
    background-color: #f3f3f3;
}

footer{
    background-color: black;
    color: white;
}

body{
    display:flex; 
    flex-direction:column; 
    height: 100vh;
}